---
import Dashboard from '../components/Dashboard.astro';
import Layout from '../layouts/Layout.astro';
import MenuMobile from '../components/MenuMobile.astro';
---

<Layout title="Dashboard">
	<div class="flex lg:min-h-screen ">
		<MenuMobile/>
		<section class="w-screen absolute bg-[#242529]  text-white md:static" id="body">
			<div class="mx-10 pb-28 grid xl:grid-rows-[5%] [&>div]:place-items-center gap-12 [&>header]:place-items-start  xl:mx-20 xl:gap-0 relative h-full  md:pb-0">
			  <header class="flex justify-around place-items-start  top-0 h-0 py-[.8rem]  w-full ">
				<p class="flex-auto text-xl flex items-center  lg:items-start">Proyectos</p>
			  </header>
			  <Dashboard/>
			</div>
		</section>
	</div>
</Layout>