<div class="bg-[#28c78026] w-fit flex items-center justify-center gap-2 px-5 rounded-full text-[#039754] text-sm">
    <div class="w-2 h-2 bg-[#28c780] rounded-full"></div>
    <p class="text-xs">Activo</p>
</div>