<section class=" w-screen absolute bg-[#242529]  text-white md:static" id="body">
    <div class="mx-10 grid xl:grid-rows-[5%] [&>div]:place-items-center gap-12 [&>header]:place-items-start  xl:mx-20 xl:gap-0 relative h-full  ">
      <header class="flex justify-around place-items-start  top-0 h-0 py-[.8rem]  w-full ">
        <p class="flex-auto text-xl flex items-center  lg:items-start">Proyectos</p>
        <div class="flex-auto text-end flex justify-end items-start">
          <p>paises</p>
        </div>
      </header>
    </div>
  </section>