---

---

<section id="menu_mobile" class="menu_mobile min-h-screen w-fit fixed left-0 top-0 z-20 bg-[#242529] text-white  border-r-2 border-[#353537] min-w-[15rem]
 md:relative md:h-auto">
    <div class="h-full  flex flex-col justify-between py-[.8rem]">
        <div class="mx-5 flex flex-col justify-around items-center gap-16 ">
            <div class="flex gap-3 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-swipe text-[#fff27a]" width="34" height="34" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 16.572v2.42a2.01 2.01 0 0 1 -2.009 2.008h-7.981a2.01 2.01 0 0 1 -2.01 -2.009v-7.981a2.01 2.01 0 0 1 2.009 -2.01h2.954"></path>
                    <path d="M9.167 4.511a2.04 2.04 0 0 1 2.496 -1.441l7.826 2.097a2.04 2.04 0 0 1 1.441 2.496l-2.097 7.826a2.04 2.04 0 0 1 -2.496 1.441l-7.827 -2.097a2.04 2.04 0 0 1 -1.441 -2.496l2.098 -7.827z"></path>
                </svg>
                <a href="/" class="text-base font-semibold">ProjectsFlow</a>
            </div>

            <div id="memoji_author" class="flex-col justify-center items-center gap">
                <div class="bg-[#bcbce2] px-3 py-1 rounded-full">
                    <img class="w-12" src="/avatar_smile.webp" alt="">
                </div>
                <h2 class="text-sm">Mich Lara</h2>
            </div>
            <nav  class="">
                <ul id="items_menu" class="text-[#a09f9d] flex flex-col gap-5">
                    <a class="item_menu"  href="/" data-page="Dashboard">
                        <li class="flex gap-3  py-2 px-5 rounded-2xl cursor-pointer text-sm items-center bg-[#353537]  transition-transform-background duration-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-2" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                                <path d="M4 13m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                                <path d="M14 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                                <path d="M14 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                            </svg>
                            Dashboard
                        </li>
                    </a>
                    <a class="" href="MichL" data-page="MichL">
                        <li class="flex gap-3  py-2 px-5 rounded-2xl cursor-pointer text-sm items-center hover:bg-[#353537]  transition-transform-background hover:duration-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                                <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
                             </svg>
                            Mich L
                        </li>
                    </a>
                </ul>
            </nav>
            
        </div>

        <!-- <label for="theme" class="pt-24 theme flex gap-4 min-w-[15rem] items-center justify-center lg:py-0 cursor-pointer">
            <p class="text-[#a09f9d]">light</p>
            <span class="theme__toggle-wrap relative  ">
                <input id="theme" class="cursor-pointer theme__toggle bg-transparent border-2 relative border-[#37383c] rounded-full" type="checkbox" role="switch" name="theme" value="dark">
                <svg class="absolute  top-[.58rem] left-[.7rem] text-[#bcbce2] " xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" stroke-width="0" fill="currentColor"></path>
                    <path d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z" stroke-width="0" fill="currentColor"></path>
                    <path d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" stroke-width="0" fill="currentColor"></path>
                    <path d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" stroke-width="0" fill="currentColor"></path>
                    <path d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" stroke-width="0" fill="currentColor"></path>
                    <path d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z" stroke-width="0" fill="currentColor"></path>
                    <path d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" stroke-width="0" fill="currentColor"></path>
                    <path d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" stroke-width="0" fill="currentColor"></path>
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                </svg>
                <svg class="absolute  top-[.58rem] right-[.7rem] text-[#bcbce2]" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z" stroke-width="0" fill="currentColor"></path>
                </svg>
            </span>
            <p class="text-[#a09f9d]">Dark</p>
        </label> -->
    </div>
</section>

<section class="w-screen fixed bottom-5 z-10 md:hidden">
    <div class="flex items-center min-h-[80px] text-white justify-between mx-10 px-3 pr-5 py-2 rounded-full inset-0 bg-opacity-10 backdrop-blur-sm bg-[#242529] gap-3 border-1 border-[#494a4f] relative">
        <a id="memoji_author_mobile" href="/" transition:name="author" class="bg-[#bcbce2] p-2 px-3 rounded-full flex flex-col items-center justify-center">
            <img class="w-9" src="/avatar_smile.webp" alt="">
        </a>
        <svg  id="open_menu" xmlns="http://www.w3.org/2000/svg" class="absolute right-5" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
         </svg>
    </div>
</section>

<script >
    // show menu mobile
    const button_show = document.getElementById('open_menu')
    const menu_mobile = document.getElementById('menu_mobile')
    const memoji_author = document.getElementById('memoji_author')
    const memoji_author_mobile = document.getElementById('memoji_author_mobile')

    // active class
    const item_menu = document.querySelectorAll('.item_menu')

 



    // HIde menu mobile
    // const body = document.getElementById('body')
    // body.addEventListener('click', () =>{
    //     console.log('object');
    //     menu_mobile.classList.remove('show_menu')
    //     menu_mobile.classList.add('hide_menu')
    // })

    // Obtiene la página actual desde LocalStorage o usa un valor predeterminado si no existe.
const currentPage = localStorage.getItem('currentPage') || 'Dashboard';
console.log('1', currentPage);
// Establece la clase activa en el elemento de menú correspondiente.
function setActiveMenu() {
  item_menu.forEach(item => {
    const page = item.getAttribute('data-page');
    if (page === currentPage) {
      item.classList.add('active_items');
      console.log('2', currentPage);
    } else {
        item.classList.remove('active_items');
    }
});
console.log('3',currentPage);
}

// Llama a setActiveMenu para establecer la clase activa inicialmente.
setActiveMenu();

// Agrega un event listener a cada elemento de menú para actualizar la clase activa y el valor en LocalStorage.
item_menu.forEach(item => {
  item.addEventListener('click', () => {
    const page = item.getAttribute('data-page');
    localStorage.setItem('currentPage', page);
    // setActiveMenu();
  });
});

</script>